Package: kmod-mac80211
Version: 3.18.44+2016-01-10-1
Depends: kernel (=3.18.44-1-190d58b879a71bb265729731e93406c4), kmod-cfg80211, hostapd-common, kmod-crypto-core, kmod-crypto-arc4
Source: package/kernel/mac80211
Section: kernel
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: ar71xx
Installed-Size: 235831
Description:  Generic IEEE 802.11 Networking Stack (mac80211)
