Package: kmod-ath
Version: 3.18.44+2016-01-10-1
Depends: kernel (=3.18.44-1-190d58b879a71bb265729731e93406c4), kmod-mac80211
Source: package/kernel/mac80211
Section: kernel
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: ar71xx
Installed-Size: 12865
Description:  This module contains some common parts needed by Atheros Wireless drivers.
